/*
 * This is a sample StyleSheet file used by WidgetMessging
 *
 * You can delete this file if you want
 */
/* start variables  */
:root {
    --main-color: #d35400;
    --secondary-color: #1991d1;
    --background-color: linear-gradient(to left, lightblue, #d0d9dd);
    --borer-color: #9098a2;
}
/* end variables  */
.ds {
    color: red;
}
/* start first section  */
.search {
    border: 1px solid var(--main-color);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    height: 25px;
    max-width: 300px;
    margin-left: 10px;
    padding: 15px;
}
.left-head {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid lightblue;
    padding: 5px;
    height: 75px;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left, lightblue, #d0d9dd);
}
.icon {
    font-size: 30px;
    color: var(--main-color);
}
.search::placeholder {
    opacity: 0.4;

}
.search:focus {
    outline: none;
    border: 2px solid var(--main-color);
}
/* end first section  */
/* start second section  */
.towDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
}
.buttonMessage {
    display: flex;
    height: 40px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    outline: none;
    border: none;
    color: var(--secondary-color);
}
.iconbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    outline: none;
    border: none;
    color: var(--secondary-color);
}
/* end second section  */
/* start third section  */
.threeDiv {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to left, lightblue, #d0d9dd);
    
}
.threeDiv button {
 width: 150px;
 font-size: 20px;
 background-color: transparent;
 color: white;
 border: none;
 padding: 15px;

}
.threeDiv button:hover {
    color: var(--main-color);
    /* color:#1991d1; */
}
/* end third section  */
/* start four section  */
.fourDiv {
   display: flex;
   background-image: linear-gradient(to left, lightblue, #d0d9dd);
   height: 694px;
   overflow: scroll;
   overflow-x: hidden; /* Hide horizontal scrollbar */

   

}
.fourDiv .one-person {
    display: grid;
    grid-template-columns: 1.5fr 3fr 1fr;
    align-content: center;
    gap: 15px;
    border: 1px solid var(--borer-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
    margin-top: 3px;
}
.one-person .img-ind {
    position: relative;
    padding: 10px;
}
.one-person img {
    width: 75px;
    height: 75px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    position: absolute;  
}
.one-person .ind {
    width: 17px;
    height: 17px;
    background-color: var(--main-color);
    border-radius: 50%; 
    position: absolute; 
    right: 2px;
    top: 62px;
}
ul {
    padding: 0; 
}
.fourDiv .text {
    height: 100px;
    overflow: hidden;
    
}
.fourDiv .text span {
    font-weight: bold;
}
.fourDiv .text pre {
    font-weight: lighter;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.fourDiv .time .blue-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--secondary-color);
}
.fourDiv .time,
.fourDiv .text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.fourDiv .time .number {
    color: white;
    text-align: center;
    padding-top: 2px;
}
/* end four section  */
/* start five section  */
.fiveDiv {
    background-color: var(--secondary-color);
    height: 40px;
}
/* end five section  */
